<h3>{{form_title}}</h3>

<form action="/api/courses" method="POST" >
    <div class="input-group">
        <label for="">Name: </label>
        <input type="text" class="form-control" name="Name" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<ul>
    {{#each data}}
    <li>{{this}}</li>
    {{/each}}
</ul>