@include media-sm {

    #main-display {
        .container {
            padding: 0;
            // margin: 5px;

            .navbar-toggler {
                padding: 2px 5px;
            }
            .navbar-brand {
                border-right: 8px solid rgba(255, 255, 255, 0.29);
                border-bottom: 8px solid rgba(255, 255, 255, 0.29);
                border-left: 8px solid rgba(68, 199, 244, 0.37);
                border-top: 8px solid rgba(68, 199, 244, 0.37);
                padding: 2px 10px !important;
                .navbar__logo {
                    font-family: cursive;
                    font-weight: 600;
                    font-size: 28px;
                    color: rgba($color: #fff, $alpha: 0.78);
                    letter-spacing: 3px;
                    margin-bottom: 0px;
                    #elite {
                        display: block;
                        margin-bottom: -5px;
                    }
                    #match {
                        color: $primary-color;
                        font-size: 23px;
                        padding-left: 25px;
                    }
                }
            }



            .navbar-btns {
                .btn1 {
                    font-size: 0.9rem;
                    padding: 5px 9px !important;

                }
            }
        }

        .carousel-item {
        
            #carousel-heading {
                font-size: 2rem;
                font-weight: 400;
            }
        
            #carousel-button {
                padding: 4px 9px;
                font-size: 1rem;
                font-weight: 400;
                border-radius: 0;
                background: rgba(0, 0, 0, 0.2) !important;
        
                &:hover {
                    background: rgba(255, 255, 255, 0.1) !important;
                    color: #fff;
                }
            }
        }
    }
    #assisted-services {
        .col-lg-6 {
            margin-top: 10px !important;
            margin-bottom: 5px !important;
        }
        .row {
            margin-top: 5px !important;
        }
    }

    

    #happy-clients {    
        .slider {

            #sliding-content {
                padding: 1.6rem 1.6rem 1.6rem 0rem !important;
                #sliding-img {
                    position: absolute;
                    top: 20% !important;
                    left: 0% !important;
                    height: 100px !important;
                    width: 100px !important;
                    img {
                        width: 100% !important;
                        height: 100% !important;
                        border-radius: 50%; 
                        border: 2px solid #fff;
                    }
                }
                #sliding-text {         
                    text-align: center;  
                    padding: 0.5rem 0rem 0.5rem 2.2rem !important;
                    margin-left: 3rem !important;
                    letter-spacing: 1px;        
                    h3 {
                        // font-family: arial !important;
                        text-align: center !important;
                        font-size: 16px !important;
                        letter-spacing: 2px !important;
                        text-transform: capitalize !important;
                        font-weight: 600 !important;
                        color: #fff !important;
                    }
                    span {
                        text-align: left !important;
                        font-size: 14px;
                        color: #000;
                    }
                    p {
                        color: #fff;
                        font-size: 0.9rem;
                        margin: 0;
                    }
                }
            }
        }
    }


}

@include media-md {

    #main-display{
        height: 100vh !important;
    }

    .carousel-item {
        height: 450px !important;

        #carousel-heading {
            font-size: 5rem;
            font-weight: 300; 
            line-height: 1.2;
        }

        .carousel-caption {
            margin-bottom: 100px !important;
        }

    }
    .navbar {
        padding: 16px 0 !important;
        .navbar-brand {
            .navbar__logo {
                font-size: 45px;
                #match {
                    font-size: 40px;
                    padding-left: 40px;
                }
            }
        }
        .navbar-collapse {
            background: transparent;
        }

        #navbar-nav {
            margin-left: 20px !important;
        }

        .nav-item {  
            margin: 0 5px !important;
        }

        .nav-link {
            font-size: 1rem;
            padding: 5px 12px !important;
            letter-spacing: 2px;
            width: 100%;
        }
        
    }

    .navbar-btns {
        left: 65%;
        top: 95px;
        right: 0%;
        .btn1 {
            font-size: 1rem;
            padding: 5px 12px;
            letter-spacing: 2px;
            font-weight: 600 !important;
        }
    }



    
    #happy-clients {    
        padding: 5% 20% !important;
        height: 450px !important;

        h3 {
            font-size: 30px !important;
        }
        .slider {
            #sliding-content {
                padding: 4.5rem 5rem 5rem 5rem !important;
                #sliding-img {
                    top: 30% !important;
                    left: 11% !important;
                    height: 135px !important;
                    width: 135px !important;
                }
                #sliding-text {         
                    padding: 2rem 2rem 2rem 5rem !important;
                    margin: 0 0rem 0 4rem !important ;

                    h3 {
                        font-size: 22px !important;
                    }
                }
            }
        }
    }


    #about-us, .a-services-heading {
        h3 {
            font-family: cursive;
            text-transform: capitalize;
            font-size: 2rem !important;
            font-weight: 600;
        }
    }


}



@include media-lg {

    .navbar-btns {
        top: 55px;
        left: 80%;
        width: 25%;  
    }
    //  Clients Slider
    #happy-clients {    
        padding: 5% 24% !important;
        height: 500px !important;



        h3 {
            font-size: 30px !important;
        }
        .slider {
            #sliding-content {
                #sliding-img {
                    top: 28% !important;
                    left: 7% !important;
                }
                #sliding-text {         
                    margin: 0 0rem 0 2rem !important ;
                }
            }
        }
    }
}



